:root {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


.wrapper {
    margin-top: 100px;
    display: inline-block;
    width: 1000px;
    height: 1000px;    
}

.checkbox {
    display: none;
}

.label {
    display: inline-block;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: tomato;
    border: 2px solid Goldenrod;
    background: linear-gradient(to top, #fefcea, #f1da36);
    transition: all 2s linear;    
}

.label:hover {
    border: 2px solid  DarkOrange;
    background: linear-gradient(to top, #fefcea,  #FF7F50);
    box-shadow: 1px 1px 10px tomato;
    cursor: pointer;
}

.chahsa {
    display: block;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 3px solid grey;
    border-top: tomato;
    transform: perspective(15px) rotateX(-5deg);
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    transition:  2s linear;
}

#check:checked~.chahsa {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    cursor: pointer;
}

.bubbles {
    display: block;
    width: 300px;
    height: 20px;
    border: .5px solid transparent;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
}

.bubble {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    margin-left: 15px;    
}
 
@keyframes bubl1 {
    0% {
        background-color:rgba(255, 68, 68, 1);
        transform: translate(0, -10px); 
    }

    20% {
        background-color:rgba(255, 68, 68, 1);
        border-radius: 20%; 
        transform: translate(0, -30px) rotate(90deg) scale(1.5);
        box-shadow: 0 0 0 1px rgba(205, 92, 92, 1);
    }

    30% {
        background-color: rgba(255, 68, 68, 1);
        border-radius: 20%; 
        transform: translate(0, -50px) rotate(90deg) scale(1.5);
        box-shadow: 0 0 0 3px rgba(205, 92, 92, 1);
    }

    50% {
        background-color: rgba(255, 68, 68, 0.5);
        border-radius: 50%;
        transform:  translate(0, -70px) rotate(90deg) scale(2);
        box-shadow: 0 0 0 5px rgba(205, 92, 92, .5);
    }
    
    75% {
        background-color: rgba(255, 68, 68, 0.3);
        border-radius: 50%;
        transform:  translate(0, -150px) rotate(90deg) scale(2.5);
        box-shadow: 0 0 0 10px rgba(205, 92, 92, .3);
    }
    90% {
        background-color: rgba(255, 68, 68, 0.2);
        border-radius: 50%;
        transform:  translate(0, -200px) rotate(90deg) scale(3.5);
        box-shadow: 0 0 0 10px  rgba(205, 92, 92, .2);  
    }

    100% {
        background-color: rgba(255, 68, 68, 0);
        border-radius: 50%;
        transform:  translate(0, -200px) rotate(90deg) scale(3.5);
        box-shadow: 0 0 0 10px  rgba(205, 92, 92, 0);      
    }
}

.b1 {
    animation: bubl1 1s linear -2s infinite;
}

.b2 {
    animation: bubl1 2s linear -1s infinite;
}

.b3 {
    animation: bubl1 4s linear -1.5s infinite;
}

.b4 {
    animation: bubl1 4s linear -1s infinite;
}

.b5 {
    animation: bubl1 4s linear -3s infinite;
}

.b6 {
    animation: bubl1 4s linear -0.5s infinite;
}

.b7 {
    animation: bubl1 4s linear -1s infinite;
}


@keyframes bubl2 {
    0% {background-color:rgba(106, 90, 205, 1);
        transform: translate(0, -10px); 
    }

    20% {
        background-color: rgba(106, 90, 205, 1);
        border-radius: 20%; 
        transform: translate(0, -30px) rotate(90deg) scale(1.5);
        box-shadow: 0 0 0 1px rgba(75, 0, 130, 1);
    }

    30% {
        background-color: rgba(106, 90, 205, 1);
        border-radius: 20%; 
        transform: translate(0, -50px) rotate(90deg) scale(1.5);
        box-shadow: 0 0 0 3px rgba(75, 0, 130, 1);
    }

    50% {
        background-color: rgba(106, 90, 205, 0.5);
        border-radius: 50%;
        transform:  translate(0, -70px) rotate(90deg) scale(2);
        box-shadow: 0 0 0 5px rgba(72, 61, 139, .5);
    }
    
    75% {
        background-color: rgba(106, 90, 205, 0.3);
        border-radius: 50%;
        transform:  translate(0, -150px) rotate(90deg) scale(2.5);
        box-shadow: 0 0 0 10px rgba(72, 61, 139, .3);
    }
    90% {
        background-color: rgba(106, 90, 205,0.21);
        border-radius: 50%;
        transform:  translate(0, -200px) rotate(90deg) scale(3.5);
        box-shadow: 0 0 0 10px  rgba(72, 61, 139, .2);  
    }

    100% {
        background-color: rgba(106, 90, 205, 0);
        border-radius: 50%;
        transform:  translate(0, -200px) rotate(90deg) scale(3.5);
        box-shadow: 0 0 0 10px  rgba(72, 61, 139, 0);      
    }
}

#check:checked~.bubbles .b1 {
    animation: bubl2 2s linear -1s infinite;
}

#check:checked~.bubbles .b2 {
    animation: bubl2 2.5s linear -1s infinite;
}

#check:checked~.bubbles .b3 {
    animation: bubl2 2.5s linear -0.5s infinite;
}

#check:checked~.bubbles .b4 {
    animation: bubl2 3.5s linear -2s infinite;
}

#check:checked~.bubbles .b5 {
    animation: bubl2 1s linear -1s infinite;
}

#check:checked~.bubbles .b6 {
    animation: bubl2 2.5s linear -2.5s infinite;
}

#check:checked~.bubbles .b7 {
    animation: bubl2 2s linear -0.5s infinite;
}